.home-container {
  text-align: center;
  margin-top: 80px;
}

.home-container h1 {
  font-size: 32px;
  color: #333;
}

.home-container p {
  margin-top: 10px;
  color: #555;
}

.home-buttons {
  margin-top: 30px;
}

.home-buttons button {
  padding: 12px 18px;
  margin: 10px;
  border: none;
  background-color: #6b21a8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.home-buttons button:hover {
  background-color: #4c1d95;
}